body, html {
	margin:0;
	overflow:hidden;
	font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing:border-box}
overlay {
	display:block;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
canvas {
	vertical-align: bottom;
}